<?xml version="1.0"?>
<!-- Note: As an alternative to manually editing this file you can use the web admin tool to
     configure settings for your application. Use the Website->ASP.NET Configuration option 
     in Visual Studio.
     A full list of settings and comments can be found in machine.config.comments usually
     located in \Windows\Microsoft.NET\Framework\v2.0.xxxxx\Config
 -->
<configuration>
  <configSections>
    <section name="appSettingsUser" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="true" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettingsUser>
    <add key="SpewUnhandledExceptions" value="true"/>
    <add key="WCPage_SSLForSecure" value="false"/>
  </appSettingsUser>
  <appSettings>
    <add key="ApplicationId" value="84556336-bca6-41d0-b65a-ec7c173df523"/>
    <add key="ShellUrl" value="https://account.healthvault-ppe.co.uk/"/>
    <add key="HealthServiceUrl" value="https://platform.healthvault-ppe.co.uk/platform/"/>
    <!-- when we call the SignOut() method on HealthServicePage, it redirects us to the page below -->
    <add key="NonProductionActionUrlRedirectOverride" value="Redirect.aspx"/>
    <!-- The redirect page (specified above) uses these keys below to redirect to different
         pages based on the response from the shell -->
    <add key="WCPage_ActionHome" value="default.aspx"/>
    <add key="WCPage_ActionAppAuthSuccess" value="default.aspx"/>
    <add key="WCPage_ActionSignOut" value="SignedOut.aspx"/>
    <add key="ApplicationCertificateFileName" value="C:\Users\Krzysiek\Documents\Visual Studio 2013\Projects\HVProxy\cert\WildcatApp-84556336-bca6-41d0-b65a-ec7c173df523.pfx"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging symbols into the compiled page.
            Because this affects performance, set this value to true only during development.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <sessionState mode="InProc"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <!-- For running inside networks that use proxy servers (for security) you will need to explicitly specify the proxy address
       in the XML section below.
       The example settings below show how to configure the sample for running inside Microsoft's corporate network.
       Your network settings are likely to be similar (but with a different proxy address)
   
    <system.net>
      <defaultProxy enabled="true">
      </defaultProxy>
    </system.net>
  -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>